In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'].insert(0, 'Malgun Gothic')  #Malgun Gothic(Windows) -> AppleGothic(mac OS)
%matplotlib inline

In [2]:
data=pd.read_csv("201617데이터.csv",engine="python",sep=",")

In [13]:
len(data)

182

# 주연 리스트

In [14]:
list=[]
for i in range(0,182):
        list.append(data['주연1'][i])
        list.append(data['주연2'][i])
        list.append(data['주연3'][i])
        list.append(data['주연4'][i])

In [16]:
len(list)

728

In [17]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException

In [190]:
dr3=webdriver.Chrome('C:/Users/user/Desktop/chromedriver_win32/chromedriver.exe')

In [26]:
len(list)

728

In [44]:
list[633]='없음'

In [45]:
list[634]='없음'

In [46]:
list[635]='없음'

In [47]:
len(list)

728

# 주연 블로그갯수

In [48]:
a=[]
for i in list :
    try:
        if(i!="없음"):
            dr3.get('https://search.naver.com/search.naver?where=post&sm=tab_jum&query='+i)
            span=dr3.find_element_by_css_selector('span[class="title_num"]')
        
            num = span.text
            num=num.split('/')[1].rstrip("건")
            a.append(num)
            
        elif(i=="없음"):
            num=0
            a.append(num)
        
    except NoSuchElementException:
        num=0
        a.append(num)

In [75]:
a2=pd.DataFrame(a)

In [77]:
a2.to_csv("a.csv",encoding="ansi")

In [139]:
A=pd.read_csv("a.csv",engine="python",sep=",",encoding='ansi')

In [140]:
A=a2.T

In [154]:
A

,0,1,2,3,4,5,6,7,8,9,...,718,719,720,721,722,723,724,725,726,727
0,"4,172","3,345","1,660","1,489","18,832","47,930","17,547","3,467","9,244,177","107,944",...,"6,077",395,"180,900","140,219","201,873","120,129","14,005","11,911","2,306","2,005"

In [158]:
A[724][0]

' 14,005'

In [152]:
A[1][0]

' 3,345'

In [165]:
A[2][0]

' 1,660'

In [166]:
[A[1][0],A[2][0]]

[' 3,345', ' 1,660']

In [170]:
list=[]
for i in range(0,724,4):
    list.append([A[i][0],A[i+1][0],A[i+2][0],A[i+3][0]])

In [179]:
list

[[' 4,172', ' 3,345', ' 1,660', ' 1,489'],
 [' 18,832', ' 47,930', ' 17,547', ' 3,467'],
 [' 9,244,177', ' 107,944', ' 95,319', ' 14,256'],
 [' 4,315', ' 1,549', ' 32,157', ' 821'],
 [' 2,455', ' 5,489', ' 20,340', ' 12,109'],
 [' 125,651', ' 62,962', ' 53,999', ' 24,166'],
 [' 65,414', ' 11,742', ' 12,405', ' 6,034'],
 [' 172,467', ' 69,990', ' 37,972', ' 22,902'],
 [' 3,402', ' 1,684', ' 4,842', ' 2,434'],
 [' 44,629', ' 11,660', ' 14,984', ' 12,120'],
 [' 7,855', ' 35,992', ' 11,552', ' 36,097'],
 [' 216,437', ' 63,548', ' 108,950', ' 5,168'],
 [' 84,687', ' 108,950', ' 49,242', ' 3,289'],
 [' 7,687', ' 417', ' 9,358', ' 8,645'],
 [' 5,442', ' 9,663', ' 1,769', ' 2,724'],
 [' 21,528', ' 21,634', ' 23,890', ' 8,654'],
 [' 6,734', ' 1,545', ' 814', ' 576'],
 [' 13,512', ' 1,800', ' 19,909', ' 1,802'],
 [' 56,972', ' 40,457', ' 30,530', ' 44,034'],
 [' 3,045', ' 10,164', ' 7,598', ' 78'],
 [' 26,932', ' 58,126', ' 16,587', ' 9,591'],
 [' 41,488', ' 25,583', ' 14,422', ' 483'],
 [' 44,743', ' 45,744', ' 377', ' 2,211'],
 [' 93,697', ' 1,873', ' 24,758', ' 3,683'],
 [' 150,135', ' 9,244,177', ' 96,184', ' 9,499'],
 [' 104,473', ' 63,875', ' 34,556', ' 31,267'],
 [' 100,407', ' 84,329', ' 5,899', ' 25,128'],
 [' 22,639', ' 74,804', ' 50,002', ' 37,971'],
 [' 125,651', ' 62,962', ' 53,999', ' 24,166'],
 [' 5,659', ' 2,567', ' 370', ' 2,092'],
 [' 20,783', ' 28,708', ' 227,117', ' 36,558'],
 [' 36,302', ' 3,653', ' 11,373', ' 107,944'],
 [' 7,571', ' 39,138', ' 33,220', ' 11,237'],
 [' 21,083', ' 3,766', ' 35,250', ' 8,487'],
 [' 158,695', ' 180,900', ' 75,155', ' 50,682'],
 [' 16,603', ' 59,369', ' 6,752', ' 11,338'],
 [' 54,944', ' 7,101', ' 11,031', ' 211,028'],
 [' 11,928', ' 526', ' 1,714', ' 7,119'],
 [0, 0, 0, 0],
 [' 1,919', ' 2,638', ' 7,407', ' 266'],
 [' 126,947', ' 110,244', ' 42,528', ' 26,332'],
 [' 16,150', ' 1,170', ' 1,838', ' 8,470'],
 [' 34,327', ' 7,767', ' 15,628', ' 2,743'],
 [' 54,944', ' 8,102', ' 9,208', ' 7,619'],
 [' 54,299', ' 16,944', ' 3,242', ' 3,548'],
 [0, 0, 0, 0],
 [' 55,864', ' 44,455', ' 40,155', ' 15,421'],
 [' 21,960', ' 6,194', ' 13,977', ' 439'],
 [' 37,294', ' 1,097', ' 17,206', ' 15,733'],
 [' 21,528', ' 9,208', ' 12,965', ' 582'],
 [0, 0, 0, 0],
 [' 57,946', ' 120,129', ' 8,842', ' 29,489'],
 [' 758', ' 593', ' 591', ' 1,840'],
 [' 19,122', ' 20,704', ' 6,227', ' 3,534'],
 [' 200,980', ' 10,210', ' 2,340', ' 25,263'],
 [' 3,872', ' 5,984', ' 6,505', ' 10,266'],
 [' 98,512', ' 323,250', ' 133,301', ' 7,710'],
 [' 276', ' 125', ' 866', ' 187'],
 [' 222', ' 341', ' 25,722', ' 5,084'],
 [' 43,385', ' 181,210', ' 25,263', ' 12,871'],
 [' 123,817', ' 3,770', ' 1,489', ' 170'],
 [' 14,377', ' 3,748', ' 433', ' 2,987'],
 [' 95,319', ' 33,112', ' 30,939', ' 188,627'],
 [' 66,861', ' 30,243', ' 61,482', ' 49,096'],
 [' 34,252', ' 46,523', ' 13,832', ' 950'],
 [' 3,410', ' 1,926', ' 1,479', ' 23,461'],
 [' 2,082', ' 5,957', ' 1,235', ' 6,096'],
 [' 1,775', ' 5,551', ' 1,957', ' 28,030'],
 [' 93,443', ' 31,961', ' 4,520', ' 53,089'],
 [' 140,513', ' 27,133', ' 6,351', ' 18,855'],
 [' 227,117', ' 200,980', ' 106,456', ' 43,385'],
 [' 26,676', ' 25,008', ' 102,258', ' 8,057'],
 [' 932', ' 19,169', ' 1,665', ' 52,441'],
 [0, 0, 0, 0],
 [' 8,102', ' 2,960', ' 15,421', ' 2,020'],
 [' 4,756', ' 10,995', ' 5,489', ' 3,591'],
 [' 3,872', ' 5,984', ' 6,505', ' 10,266'],
 [' 15,461', ' 5,829', ' 20,873', ' 3,821'],
 [' 45,062', ' 28,708', ' 6,648', ' 12,586'],
 [' 99,120', ' 134,509', ' 63,995', ' 18,754'],
 [' 2,104', ' 816', ' 2,806', ' 586'],
 [' 113,763', ' 25,471', ' 4,773', ' 2,307'],
 [' 31,702', ' 25,471', ' 16,470', ' 650'],
 [' 7,845', ' 13,286', ' 10,621', ' 6,613'],
 [' 9,365', ' 3,467', ' 5,172', ' 416'],
 [' 2,171', ' 28,713', ' 1,620', ' 1,808'],
 [' 226,511', ' 126,947', ' 70,501', ' 19,404'],
 [' 200,907', ' 158,695', ' 27,692', ' 65,621'],
 [' 7,845', ' 13,286', ' 10,621', ' 6,613'],
 [' 18,971', ' 3,246', ' 1,707', ' 3,363'],
 [' 2,450', ' 1,421', ' 6,767', ' 973'],
 [' 22,490', ' 10,903', ' 11,696', ' 7,961'],
 [' 7,845', ' 13,286', ' 10,621', ' 6,613'],
 [' 19,477', ' 26,676', ' 2,487', ' 11,644'],
 [' 33,089', ' 35,250', ' 19,554', ' 4,260'],
 [' 6,096', ' 5,359', ' 3,054', ' 7,503'],
 [' 51,695', ' 54,299', ' 31,609', ' 18,855'],
 [' 13,947', ' 16,297', ' 997', ' 3,155'],
 [' 5,960', ' 4,623', ' 374', ' 4,046'],
 [' 3,413', ' 17,206', ' 2,055', ' 2,396'],
 [' 286', ' 70', ' 1,744', ' 1,054'],
 [' 256,199', ' 62,354', ' 38,703', ' 33,068'],
 [' 65,414', ' 18,163', ' 2,065', ' 37,962'],
 [' 16,297', ' 1,992', ' 2,647', ' 1,053'],
 [' 44,126', ' 20,844', ' 24,586', ' 3,360'],
 [' 7,767', ' 29,155', ' 12,568', ' 1,484'],
 [' 31,323', ' 2,578', ' 904', ' 495'],
 [' 227,117', ' 181,210', ' 29,983', ' 3,434'],
 [' 33,076', ' 289', ' 4,374', ' 19,554'],
 [' 21,219', ' 15,150', ' 13,221', ' 6,734'],
 [' 2,108,878', ' 76,726', ' 117,856', ' 50,548'],
 [' 6,040', ' 5,442', ' 3,254', ' 911'],
 [' 4,756', ' 1,947', ' 6,539', ' 1,034'],
 [' 6,607', ' 10,144', ' 6,147', ' 6,607'],
 [' 74,297', ' 1,287', ' 4,985', ' 2,653'],
 [' 99,322', ' 178,411', ' 16,442', ' 11,705'],
 [' 30,958', ' 35,250', ' 6,422', ' 3,315'],
 [' 19,730', ' 7,174', ' 1,193', ' 3,651'],
 [' 19,685', ' 2,767', ' 13,631', ' 12,587'],
 [0, 0, 0, 0],
 [' 62,601', ' 8,646', ' 13,631', ' 7,055'],
 [' 36,403', ' 27,178', ' 16,859', ' 362'],
 [' 73,932', ' 56,906', ' 16,868', ' 55,100'],
 [' 2,928', ' 11,949', ' 3,438', ' 18,403'],
 [' 44,365', ' 81,290', ' 53,089', ' 11,185'],
 [' 17,756', ' 15,236', ' 6,557', ' 10,450'],
 [' 3,253', ' 17,431', ' 7,610', ' 1,201'],
 [' 102,258', ' 3,475', ' 12,661', ' 1,038'],
 [' 52,549', ' 248,549', ' 7,515', ' 33,068'],
 [' 3,231', ' 2,957', ' 16,557', ' 10,753'],
 [' 28,310', ' 12,587', ' 31,076', ' 3,029'],
 [' 66,861', ' 35,746', ' 6,792', ' 3,283'],
 [' 43,565', ' 56,891', ' 16,859', ' 25,531'],
 [' 22,490', ' 10,699', ' 10,893', ' 15,628'],
 [' 120', ' 331,453', ' 1,086', ' 6,442'],
 [' 33,089', ' 28,713', ' 37,294', ' 26,932'],
 [' 25,570', ' 27,551', ' 14,309', ' 178,411'],
 [' 1,093', ' 2,373', ' 5,393', ' 260'],
 [0, 0, 0, 0],
 [' 53,025', ' 979', ' 2,716', ' 1,034'],
 [' 500', ' 1,970', ' 460', ' 3,363'],
 [' 90,871', ' 31,609', ' 25,263', ' 9,519'],
 [' 104,510', ' 50,682', ' 54,299', ' 66,542'],
 [' 5,859', ' 7,947', ' 105,130', ' 2,034'],
 [' 5,827', ' 6,233', ' 6,642', ' 7,786'],
 [' 950', ' 5,416', ' 1,660', ' 893'],
 [' 28,708', ' 23,890', ' 11,407', ' 33,089'],
 [' 72,012', ' 99,322', ' 46,470', ' 33,014'],
 [' 17,493', ' 8,569', ' 15,037', ' 57'],
 [' 89,334', ' 7,610', ' 1,665', ' 5,442'],
 [' 31,702', ' 6,227', ' 4,825', ' 1,211'],
 [' 2,108,878', ' 70,501', ' 39,284', ' 50,022'],
 [' 10,266', ' 10,468', ' 8,854', ' 5,827'],
 [' 3,275', ' 2,678', ' 2,795', ' 6,560'],
 [' 76,726', ' 52,549', ' 25,263', ' 22,480'],
 [' 5,423', ' 46,068', ' 2,375', ' 11,310'],
 [0, 0, 0, 0],
 [' 100,407', ' 14,721', ' 12,483', ' 5,930'],
 [' 818,630', 0, 0, 0],
 [' 11,031', ' 414', ' 1,136', ' 445'],
 [' 14,518', ' 21,528', ' 3,811', ' 2,269'],
 [' 125,651', ' 44,320', ' 41,349', ' 10,930'],
 [' 20,340', ' 610,057', ' 12,109', ' 3,853'],
 [' 9,663', ' 2,423', ' 12,459', ' 1,593'],
 [' 123,817', ' 7,051', ' 3,077', ' 37,381'],
 [' 41,157', ' 56,972', ' 83,120', ' 13,493'],
 [0, 0, 0, 0],
 [' 75,317', ' 31,961', ' 10,152', ' 1,829'],
 [' 22,490', ' 23,772', ' 1,823', ' 8,763'],
 [' 74,169', ' 1,201', ' 44,696', ' 105,130'],
 [' 73,694', ' 7,668', ' 7,141', ' 135'],
 [' 298,892', ' 72,012', ' 82,728', ' 7,526'],
 [' 40,155', ' 8,035', ' 6,932', ' 16,640'],
 [' 18,708', ' 17,892', ' 64,165', ' 4,389'],
 [' 3,907', ' 2,778', ' 802', ' 859'],
 [' 14,104', ' 329', ' 6,684', ' 4,222'],
 [' 9,092', ' 1,262', ' 2,196', ' 2,122'],
 [' 3,432', ' 7,687', ' 37,196', ' 7,131'],
 [0, 0, 0, 0],
 [' 4,044', ' 18,206', ' 6,077', ' 395'],
 [' 180,900', ' 140,219', ' 201,873', ' 120,129']]

In [185]:
df=pd.DataFrame(list)

In [187]:
df.to_csv("df.csv",encoding="ansi")

# 영화 블로그갯수

In [192]:
movie_list='영화 '+data["영화명"]

In [197]:
len(movie_list)

182

In [193]:
dr3=webdriver.Chrome('C:/Users/user/Desktop/chromedriver_win32/chromedriver.exe')

In [194]:
b=[]
for i in movie_list :
    try:
        dr3.get('https://search.naver.com/search.naver?where=post&sm=tab_jum&query='+i)
        span=dr3.find_element_by_css_selector('span[class="title_num"]')
        
        num = span.text
        num=num.split('/')[1].rstrip("건")
        b.append(num)
    
        
    except NoSuchElementException:
        num=0
        b.append(num)

In [204]:
b

[' 13,143',
 ' 12,870',
 ' 62,708',
 ' 791',
 ' 1,533',
 ' 26,069',
 ' 16,085',
 ' 24,616',
 ' 7,921',
 ' 18,784',
 ' 1,518',
 ' 131,650',
 ' 42,029',
 ' 1,616',
 ' 698',
 ' 5,134',
 ' 3,897',
 ' 8,260',
 ' 76,415',
 ' 317',
 ' 1,528',
 ' 2,081',
 ' 885',
 ' 496',
 ' 29,514',
 ' 5,327',
 ' 4,913',
 ' 3,454',
 ' 136',
 ' 17,993',
 ' 4,389',
 ' 225',
 ' 252,484',
 ' 10,639',
 ' 24,174',
 ' 5,728',
 ' 6,321',
 ' 3,836',
 ' 8,643',
 ' 5,413',
 ' 69,512',
 ' 1,137',
 ' 1,635',
 ' 7,428',
 ' 2,622',
 ' 593',
 ' 5,632',
 ' 1,300',
 ' 709',
 ' 2,823',
 ' 1,464',
 ' 7,060',
 ' 693',
 ' 19,433',
 ' 6,493',
 ' 577',
 ' 628,925',
 ' 2,229',
 ' 1,721',
 ' 5,322',
 ' 2,718',
 ' 771',
 ' 84,947',
 ' 10,105',
 ' 59,422',
 ' 1,424',
 ' 1,424',
 ' 211',
 ' 11,341',
 ' 14,175',
 ' 150,586',
 ' 28,669',
 ' 2,307',
 ' 635',
 ' 14,131',
 ' 4,866',
 ' 415',
 ' 38,404',
 ' 5,300',
 ' 19,912',
 ' 496',
 ' 4,559',
 ' 7,893',
 ' 414',
 ' 1,589',
 ' 15,926',
 ' 42,879',
 ' 30,341',
 ' 324',
 ' 2,966',
 ' 1,424',
 ' 1,672',
 ' 411',
 ' 11,872',
 ' 2,346',
 ' 1,057',
 ' 32,019',
 ' 24,476',
 ' 2,062',
 ' 2,180',
 ' 267',
 ' 14,663',
 ' 3,092',
 ' 2,170',
 ' 149,330',
 ' 15,343',
 ' 9,848',
 ' 8,657',
 ' 2,643',
 ' 3,522',
 ' 3,804',
 ' 1,351',
 ' 118',
 ' 49',
 ' 41,634',
 ' 8,209',
 ' 5,862',
 ' 283',
 ' 2,072',
 ' 566',
 ' 52,677',
 ' 2,413',
 ' 21,897',
 ' 7,779',
 ' 84,222',
 ' 848',
 ' 8,384',
 ' 6,439',
 ' 3,560',
 ' 4,331',
 ' 243,299',
 ' 729,246',
 ' 1,408',
 ' 1,994',
 ' 2,607',
 ' 6,479',
 ' 38,069',
 ' 272',
 ' 366',
 ' 799',
 ' 1,080',
 ' 5,267',
 ' 82,586',
 ' 460',
 ' 722',
 ' 919',
 ' 28,343',
 ' 28,166',
 ' 9,484',
 ' 245',
 ' 4,777',
 ' 9,392',
 ' 70,991',
 ' 13,195',
 ' 3,120',
 ' 1,783',
 ' 329',
 ' 96,543',
 ' 8,099',
 ' 327',
 ' 34,088',
 ' 4,326',
 ' 1,623',
 ' 410',
 ' 31,183',
 ' 26,566',
 ' 651',
 ' 3,610',
 ' 6,327',
 ' 1,387',
 ' 13,598',
 ' 272,320',
 ' 16,237',
 ' 20,869',
 ' 16,965',
 ' 1,543',
 ' 2,875',
 ' 17,861',
 ' 711',
 ' 617',
 ' 26,883',
 ' 12,236']

In [202]:
df= pd.DataFrame(b)

In [203]:
df.to_csv("blog_views_1617final.csv",encoding="ansi")

In [3]:
data.head()

,순번,영화명,감독,배급사,개봉일,국적,전국스크린수,전국매출액,전국관객수,장르,등급,개봉월,주연1,주연2,주연3,주연4,배우블로그건수,개봉전평점,영화블로그개수
0,1,도리를 찾아서,앤드류 스탠튼,월트디즈니컴퍼니코리아(주),2016-07-06,미국,"1,091",1729291400,"237,536",애니메이션,전체관람가,7,엘런 드제너러스,앨버트 브룩스,에드 오닐,케이틀린 올슨,"10,666",9.65,"13,143"
1,2,나우 유 씨 미 2,존 추,롯데쇼핑㈜롯데엔터테인먼트,2016-07-13,미국,"1,200",518207400,"67,669",범죄,12세이상관람가,7,제시 아이젠버그,마크 러팔로,우디 해럴슨,데이브 프랭코,"87,776",8.81,"12,870"
2,3,부산행,연상호,(주)넥스트엔터테인먼트월드(NEW),2016-07-20,한국,"1,788",25024170709,"3,152,645",액션,15세이상관람가,7,공유,정유미,마동석,김수안,"9,461,696",8.23,"62,708"
3,4,아이스 에이지: 지구 대충돌,마이크 트메이어,이십세기폭스코리아(주),2016-07-20,미국,580,604054100,"88,098",애니메이션,전체관람가,7,존 레귀자모,레이 로마노,제니퍼 로페즈,아담 드바인,"38,842",9.31,791
4,5,극장판 요괴워치: 염라대왕과 5개의 이야기다냥!,타카하시 시게하루,씨제이이앤엠(주),2016-07-20,일본,403,460928700,"64,937",애니메이션,전체관람가,7,박경혜,홍범기,김현지,김보영,"40,393",9.82,"1,533"